.ex2 {
    text-decoration-line: underline;
}
.ex3 {
    background-color: orange;

}


.ex5{
    color: red;
    font-weight: bold;
}

.ex7{
    color: red;
    font-weight: bold;
}

.ex9{
    text-decoration-line: underline;
}